//- Social profiles
//- style - BEM modidifier
mixin social_links(style)
	ul.social-links
		- var socials = {"vk" : "http://vk.com/homafromptz", "github-alt" : "https://github.com/HomAfromPTZ", "stack-overflow" : "http://stackoverflow.com/cv/homawebdev"}
		each s_url, s_name in socials
			li.social-links__item
				a(class="social-links__link" + ((style) ? " social-links__link_#{style}" : "") + " fa fa-" + s_name, href=s_url)


//- Text/Password inputs with Font Awesome icons
//- elements = [[FontAwesome-class, input-placeholder, input-type], [...]]
mixin input_iconed(elements)
	each params in elements
		label(class="login-form__label login-form__label_text")
			input(class="input input_text", placeholder=params[1], type=params[2])
			span(class="fa fa-" + params[0])

//- Checkbox or Radio inputs with style
//- elements = [[type, name, value, text], [...]]
mixin input_checkers(elements)
	each params in elements
		label(class="login-form__label login-form__label_" + params[0])
			input(class="input input_#{params[0]}", type=params[0], name=params[1], value=params[2])
			span=params[3]